myvenv
.ipynb_checkpoints
__pycache__
.DS_Store
*.csv
*.tsv
*.parquet
*.feather
*.hdf5
*.h5
data/*
!data/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
*.log
*.pkl
*.joblib
.env
.vscode
.idea
*.pt
